default:
  suites:
    default:
      paths:
        - %paths.base%/tests/features
      contexts:
        - Drupal\DrupalExtension\Context\MinkContext
        - Drupal\DrupalExtension\Context\DrupalContext
        - Drupal\Tests\oe_corporate_blocks\Behat\CorporateBlocksContext
        - Drupal\DrupalExtension\Context\ConfigContext
        - OpenEuropa\Behat\TransformationContext:
            pages:
              login: "user/login"
              site switcher block settings: 'admin/config/corporate-blocks/site-switcher'

  extensions:
    Drupal\MinkExtension:
      goutte: ~
      selenium2: ~
      ajax_timeout: 10
      javascript_session: selenium2
      base_url: "${drupal.base_url}"
    Drupal\DrupalExtension:
      api_driver: "drupal"
      drupal:
        drupal_root: "${drupal.root}"
      region_map:
        footer: "div.region-footer-fifth"
        header: "div.region-header"
  formatters:
    progress: ~
