default:
  suites:
    default:
      paths:
        - "%paths.base%/tests/features"
      contexts:
        - Drupal\DrupalExtension\Context\MinkContext
        - Drupal\DrupalExtension\Context\DrupalContext
        - Drupal\DrupalExtension\Context\ConfigContext
        - Drupal\DrupalExtension\Context\MessageContext
        - Drupal\Tests\oe_corporate_blocks\Behat\CorporateBlocksContext
        - Drupal\Tests\oe_corporate_blocks\Behat\FeatureContext
        - Drupal\Tests\oe_corporate_site_info\Behat\CorporateSiteInformationContext
        - OpenEuropa\Behat\TransformationContext:
            pages:
              login: "user/login"
              footer links manager: 'admin/config/footer_link_general'
              footer social links manager: 'admin/config/footer_link_social'
  extensions:
    Drupal\MinkExtension:
      goutte: ~
      selenium2: ~
      ajax_timeout: 10
      javascript_session: selenium2
      base_url: "${drupal.base_url}"
    Drupal\DrupalExtension:
      api_driver: "drupal"
      drupal:
        drupal_root: "${drupal.root}"
      region_map:
        ec_footer: "div.block-oe-corporate-blocks-ec-footer"
        eu_footer: "div.block-oe-corporate-blocks-eu-footer"
        eu_footer_bottom_title: "div.block-oe-corporate-blocks-eu-footer .footer__corporate-bottom--eu-title"
        header: "div.region-header"
      selectors:
        message_selector: ".messages"
        error_message_selector: ".messages.messages--error"
        success_message_selector: ".messages.messages--status"
  formatters:
    progress: ~
