default:
  suites:
    default:
      paths:
        - %paths.base%/tests/features
      contexts:
        - Drupal\DrupalExtension\Context\MinkContext
        - Drupal\DrupalExtension\Context\DrupalContext
        - Drupal\DrupalExtension\Context\ConfigContext
        - Drupal\Tests\oe_corporate_blocks\Behat\CorporateBlocksContext
        - OpenEuropa\Behat\TransformationContext:
            pages:
              login: "user/login"
              footer links manager: 'admin/structure/footer-general-link'
              footer social links manager: 'admin/structure/footer-social-link'
  extensions:
    Drupal\MinkExtension:
      goutte: ~
      selenium2: ~
      ajax_timeout: 10
      javascript_session: selenium2
      base_url: "${drupal.base_url}"
    Drupal\DrupalExtension:
      api_driver: "drupal"
      drupal:
        drupal_root: "${drupal.root}"
      region_map:
        ec_footer: "div.block-oe-corporate-blocks-ec-footer"
        eu_footer: "div.block-oe-corporate-blocks-eu-footer"
        header: "div.region-header"
  formatters:
    progress: ~
